h1 {
    text-align: center;
}
h2 {
    margin: 0;
}
#multi-step-form-container {
    margin-top: 5rem;
}
.text-center {
    text-align: center;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.padleft-0 {
    padding-left: 0;
}
.button {
    padding: 0.7rem 1.5rem;
    border: 1px solid #4361ee;
    background-color: #4361ee;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.submit-btn {
    border: 1px solid #0e9594;
    background-color: #0e9594;
}
.mt-3 {
    margin-top: 2rem;
}
.display-none {
    display: none;
}
.form-step {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 3rem;
}
.font-normal {
    font-weight: normal;
}
ul.form-progress {
    counter-reset: section;
    margin-bottom: 3rem;
}
ul.form-progress .form-progress-circle {
    position: relative;
}
ul.form-progress .form-progress-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.form-progress-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
ul.form-progress > li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}
.form-progress-horizontal > li:not(:last-of-type) {
    margin-bottom: 0 !important;
}
.form-progress-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.form-progress-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}
.form-progress-horizontal li:after {
    background-color: #dee2e6;
}
.form-progress-horizontal li.form-progress-completed:after {
    background-color: #4da3ff;
}
.form-progress-horizontal li:last-child {
    flex: unset;
}
ul.form-progress li a .form-progress-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}
.form-progress .form-progress-active .form-progress-circle {
    background-color: #4361ee !important;
    color: #fff;
}
.form-progress .form-progress-active .label {
    color: #4361ee !important;
}
.form-progress .form-progress-active .form-progress-circle:hover {
    background-color: #4361ee !important;
    color: #fff !important;
}
.form-progress .form-progress-unfinished .form-progress-circle {
    background-color: #f8f7ff;
}
.form-progress .form-progress-completed .form-progress-circle {
    background-color: #0e9594 !important;
    color: #fff;
}
.form-progress .form-progress-completed .label {
    color: #0e9594 !important;
}
.form-progress .form-progress-completed .form-progress-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}
.form-progress .form-progress-active span.text-muted {
    color: #fff !important;
}
.form-progress .form-progress-completed span.text-muted {
    color: #fff !important;
}
.form-progress .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}
.form-progress a {
    cursor: default;
}